.devcontainer/*
!.devcontainer/lsy_drone_racing-compat.patch
.dockerignore
.git
.github
.pixi
.pytest_cache
.ruff_cache
.venv
__pycache__
**/.pytest_cache
**/.ruff_cache
**/__pycache__
**/*.py[cod]
*.egg-info
benchmark/data
build
dist
site
note.md
usage.md
usage_assets
